*{
    margin:0;
    padding: 0;
   font-family: sans-serif;
}
  .header{
    height: 100vh;
    width: 100%;
    /*background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(sbu.png);*/
    background-position: center;
    background-size: cover;
    color:white;
  }
  nav{
    display: flex;
    padding: 20px 100px;

  }
  nav img{
    width: 120px;
  }
  nav ul{
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
    color: black;
  }
nav ul li{
    display: inline-block;
    margin: 0px 20px;

}
.main-text{
    margin: 0;
    text-align: center;
    
}
.main-text h1{
    font-size: 50px;
    color: black;
    text-decoration: underline;
}
.button{

    text-decoration: none;
    display: block;
    width: 140px;
    height: 35px;
    margin: 25px auto;
    color: rgb(0, 0, 0);
    background-color:bisque;
    line-height: 35px;
    border: 1px solid white;
}
.button:hover{
    background: white;
    color: black;
    transition: 0.5s;
}

        .box {
            width: 150px;
            height:50px;
            margin: 10px ;
            background-color: #2792da;
            color: black;
            text-align: center;
            line-height: 50px;
            font-size: 15px;
        }
        .box:hover{
            background: white;
            color: black;
            transition: 0.5s;
        }
            
                
#main{
  position: relative;
      }
#left{
  position: absolute;
  margin-left: 10%;
}
#mideel{
  position: absolute;
  margin-left: 50%;
}


#right{
position: absolute;
float: right;
margin-left: 80%;
}